<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30" packages="io.err0.log4j2" >
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <Err0Appender name="err0" url="https://open-source.dev.err0.io:8443/" token="2.k7vLGp7PzNhogBpQxs54-xbDZXRR7WWDgvkbJVBfd_pusqYBPYZdg2T5MSV6vxhcJv7TVq8DgInxXFQEc0idMRsS9Pzls_EMjyFXXVPxFuqnpRtGDwDLiQ.RyafbFI4SiyIs-AWAv-7MiERgOf2TcuRaWoxBuu2Wus"/>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="err0"/>
        </Root>
    </Loggers>
</Configuration>