<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30" packages="io.err0.log4j2" >
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <Err0Appender name="err0" token="2.KWfhf8nIm2zxSXkrRG1AiIVqzg9NZcvqGuFPlv9Nw02TePf6VJun6nQ-Uq3aVZksb8NKW_Wuo1BoCepFaSkVWC0AByA15sECWYyv_8TxtPp6ZGUUaWyvig.62_RsVr6V3WZd-H56B47ymJvMn2ps1NsbTvKexDj-Jc" url="https://open-source-dev.err0.io:8443/" realm_uuid="ea3cd958-f46a-11eb-9a03-0242ac130003" prj_uuid="c8fd1ecc-7d10-11ec-90d6-0242ac120003" pattern="\[(EG-\d+)\]"></Err0Appender>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="err0"/>
        </Root>
    </Loggers>
</Configuration>